name: macOS VNC Desktop
on: workflow_dispatch # Permite activarlo manualmente

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Configurar contraseña del usuario
        run: |
          sudo dscl . -passwd /Users/runner ${{ secrets.USER_PASS }}
          
      - name: Activar Screen Sharing (VNC)
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -activate -configure -access -on -restart -agent -privs -all \
          -allowAccessFor -allUsers
          
          # Configurar contraseña VNC específica
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -configure -clientopts -setvncpasswd -vncpasswd ${{ secrets.VNC_PASS }}

      - name: Instalar y ejecutar ngrok
        run: |
          brew install ngrok/ngrok/ngrok
          ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
          ngrok tcp 5900 --log=stdout &
          sleep 10 # Esperar a que el túnel se establezca
          
      - name: Obtener dirección de conexión
        run: |
          curl --silent http://127.0.0.1 | jq -r '.tunnels[0].public_url'
          
      - name: Mantener sesión activa
        run: sleep 21600 # Mantiene el runner vivo hasta por 6 horas
