name: macOS VNC Desktop
on: workflow_dispatch # Permite activarlo manualmente

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Crear usuario administrador
        run: |
          # Creamos el usuario vncuser con la contraseña de tu secreto
          sudo sysadminctl -addUser vncuser -fullName "VNC User" -password "${{ secrets.USER_PASS }}" -admin

      - name: Activar Remote Management
        run: |
          # Activamos el servicio sin intentar setear el password VNC legacy
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -activate -configure -access -on \
          -clientopts -setmenuextra -menuextra yes \
          -allowAccessFor -allUsers -privs -all -restart -agent

      - name: Configurar e iniciar ngrok
        env:
          NGROK_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: |
          brew install ngrok/ngrok/ngrok
          # Usamos la variable de entorno para asegurar que el token se lea
          ngrok config add-authtoken $NGROK_TOKEN
          # Iniciamos el túnel en segundo plano
          ngrok tcp 5900 --log=stdout &
          sleep 5

      - name: Obtener URL de conexión
        run: |
          echo "Conéctate a la siguiente dirección usando tu cliente VNC:"
          curl --silent http://127.0.0.1 | jq -r '.tunnels[0].public_url'
          
      - name: Mantener activo
        run: sleep 21600
