name: macOS VNC con Tmate
on: workflow_dispatch

jobs:
  vnc-session:
    runs-on: macos-latest
    steps:
      - name: Crear usuario administrador
        run: |
          # Usamos la contraseña de tu secreto USER_PASS
          sudo sysadminctl -addUser vncuser -fullName "VNC User" -password "${{ secrets.USER_PASS }}" -admin

      - name: Activar Screen Sharing (VNC)
        run: |
          # Activación del servicio nativo de macOS
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -activate -configure -access -on \
          -allowAccessFor -allUsers -privs -all -restart -agent

      - name: Configurar sesión interactiva con Tmate
        uses: mxschmitt/action-tmate@v3
        with:
          # Esto permite que cualquier persona con el link entre (útil para debug rápido)
          limit-access-to-actor: false

      - name: Mantener activo
        run: sleep 21600 # El runner se cerrará tras 6 horas si no lo detienes antes
